.footer{
    height: auto ;
    width: 100%;
    background: #F5F5F5; ;
}

.footer-wrapper{
    display: flex;
    padding: 86.4px 86.4px 57.6px 86.4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 144px;
}

.top-footer-wrapper-left{
    display: flex;
    gap: 16px;
}