.paralax-section{
    display: flex;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    position: relative;
    flex-direction: row;
}

.main-image-div{
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.main-image-div img{
    height: 100%;
    object-fit: cover;
    width: 50vw;
}

.main-content-section{
    flex: 1; /* Takes up the other half of the width */
    overflow-y: auto; /* Enables vertical scrolling */
    height: 100vh;
    width: 50vw;
    justify-items: center;
}

.main-content-section::-webkit-scrollbar {
        display: none;
}

.hero-div{
    display: flex;
    width: 692px;
    padding: 180px 86.4px 120px 86.4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 116px;
    overflow: hidden;
}

.logo-image{
    display: flex;
    width: 300px;
    height: 115.385px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.308px;
}

.company-logo-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}