.paralax-section {
    display: flex;
    height: 100vh;
    overflow-x: visible; /* Allow horizontal overflow */
    overflow-y: hidden;  /* Hide vertical overflow */
    position: relative;
    flex-direction: row;
}

.main-image-div{
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.main-image-div img{
    height: 100%;
    object-fit: cover;
    width: 50vw;
}

.main-content-section {
    flex: 1;
    overflow-y: auto;    /* Keep vertical scrolling */
    overflow-x: visible; /* Allow horizontal overflow */
    height: 100vh;
    width: 50vw;
    position: relative;  /* For absolute positioning children */
}

.main-content-section::-webkit-scrollbar {
        display: none;
}

.hero-div{
    display: flex;
    width: 692px;
    padding: 180px 86.4px 120px 86.4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 116px;
    overflow: hidden;
}

.logo-image{
    display: flex;
    width: 300px;
    height: 115.385px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.308px;
}

.company-logo-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.trusted-by-header{
    color: #91BEE0;
    font-family: Montserrat;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 79.2px */
    text-transform: uppercase;
}

.brands-worked-with{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}


.logo-row{
width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-section-header{
    display: flex;
    padding: 86.4px 86.4px 57.6px 86.4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 86px;
    height: 394px;
}

.projects-section{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project-container{
    display: flex;
    align-items: flex-start;
    gap: 34.286px;
    flex: 1 0 0;
    width: auto;
    height: 1117px;
    padding: 206.598px 86.8px 206.402px 86px;
    justify-content: center;
    align-items: center;
}

.project-caption-pill-container{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px 17.143px;
    align-self: stretch;
    flex-wrap: wrap;
}

.inactive-pillbutton{
    display: flex;
    padding: 8.991px 23.376px;
    justify-content: center;
    align-items: center;
    gap: 7.193px;
    border-radius: 449.532px;
    border: 1px solid #F5F5F5;
    color: #F5F5F5;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
}