.paralax-section {
    display: flex;
    height: 100vh;
    overflow-x: visible; /* Allow horizontal overflow */
    overflow-y: hidden;  /* Hide vertical overflow */
    position: relative;
    flex-direction: row;
}

.main-image-div{
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.main-image-div img{
    height: 100%;
    object-fit: cover;
    width: 50vw;
}

.main-content-section {
    flex: 1;
    overflow-y: auto;    /* Keep vertical scrolling */
    overflow-x: visible; /* Allow horizontal overflow */
    height: 100vh;
    width: 50vw;
    position: relative;  /* For absolute positioning children */
}

.main-content-section::-webkit-scrollbar {
        display: none;
}

.hero-div{
    display: flex;
    width: 692px;
    padding: 180px 86.4px 120px 86.4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 116px;
    overflow: hidden;
}

.logo-image{
    display: flex;
    width: 300px;
    height: 115.385px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.308px;
}

.company-logo-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.trusted-by-header{
    color: #91BEE0;
    font-family: Montserrat;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 79.2px */
    text-transform: uppercase;
}

.brands-worked-with{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}


.logo-row{
width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-section-header{
    display: flex;
    padding: 86.4px 86.4px 57.6px 86.4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 86px;
    height: 394px;
}

.projects-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #1C1C1C 0%, #0E1011 100%)
}

.project-container{
    display: flex;
    align-items: flex-start;
    gap: 34.286px;
    flex: 1 0 0;
    width: auto;
    padding: 206.598px 86.8px 206.402px 86px;
    justify-content: space-between;
    align-items: center;
}

.project-caption-pill-container{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px 17.143px;
    align-self: stretch;
    flex-wrap: wrap;
}

.inactive-pillbutton{
    display: flex;
    padding: 8.991px 23.376px;
    justify-content: center;
    align-items: center;
    gap: 7.193px;
    border-radius: 449.532px;
    border: 1px solid #F5F5F5;
    color: #F5F5F5;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
}

.project-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 57.143px;
    max-width: 650px;
}

.project-visual{
    display: flex;
    flex-direction: column;
}

.case-study-button{
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 7.2px;
    border-radius: 450px;
    border: 1.5px solid #F5F5F5;
    color: #F5F5F5;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 22px */
}

.icon-wrapper{
    position: relative; /* Acts as a positioning container */
    width: 20px; /* Match icon width */
    height: 20px; /* Match icon height */
}

#icon {
    width: 100%; /* Fill the wrapper */
    height: 100%;
    transition: opacity 0.3s ease;
    position: absolute; /* Stack icons on top of each other */
    top: 0;
    left: 0;
  }

.case-study-button:hover{
    border: 1.5px solid #030303;
    background: #B4B2F0;
    color:black;
}
.case-study-button:hover .white-icon{
    opacity: 0;
}

.case-study-button:hover .black-icon{
    opacity: 1;
}

.black-icon{
    opacity: 0;
}

.project-visual{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1070px;
    gap: 30px;
}

.ipad-landscape{
    max-width: 800px;
}

.ipad-vertical{
    max-width: 550px;
}

.laptop{
    max-width: 1000px;
}

.iphone-image{
    max-width: 330px;
}

.project-visual-ipad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1070px;
    gap:30px;
}

.project-visual-iphone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1070px;
}

.radial-pattern{
    height: 91.429px;
    flex-shrink: 0;
    align-self: stretch;
    width: 100%;
    border-radius: 970px;
    background: radial-gradient(50% 50% at 50% 50%, #0E1011 0%, #1C1C1E 75%, rgba(245, 245, 245, 0.10) 100%);
    mix-blend-mode: overlay;
    filter: blur(15.743440628051758px);
}

.radial-pattern-ipad-vertical{
    width: 618px;
    height: 91.429px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 618px;
    background: radial-gradient(50% 50% at 50% 50%, #0E1011 0%, #1C1C1E 75%, rgba(245, 245, 245, 0.10) 100%);
    mix-blend-mode: overlay;
    filter: blur(15.743440628051758px);
}

.iphone-shadow{
    width: 514px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 514px;
    background: radial-gradient(50% 50% at 50% 50%, #0E1011 0%, #1C1C1E 75%, rgba(245, 245, 245, 0.10) 100%);
    mix-blend-mode: overlay;
    filter: blur(5.323793411254883px);
}

.iphone-shadow-div{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}

.iphone-shadow-div2{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    margin-top:150px;
}

.shadow-container{
    height: 91px;
    width: 100%;
    display: flex;
    justify-content: center;
}
