button {
    background: none;
    color:inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}

.nav-list{
    display: flex;
}

.navbar {
    width: 100vw;       /* Full viewport width */
    position: absolute;  /* Position relative to main-content-section */
    left: -50vw;         /* Shift left by 50% of viewport */
    top: 0;
    z-index: 999;
}

.navbar-container{
    padding: 60px 86.4px 40px 86.4px;;
    display: flex;
    justify-content: space-between;
    color: transparent;
}

.nav-list{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}