@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: #1C1C1E;
  overflow-x: hidden;
}

.poppins-semibold-nav-links{
  color: #F5F5F5;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 22px */
}

.hero-main-text{
  color: #F5F5F5;
  font-family: Montserrat;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 72px */
}

.header-nametag{
  color: #91BEE0;
  font-family: "Oooh Baby";
  font-size: 114px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.location-text{
  color: #F5F5F5;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 57.2px */
  letter-spacing: -0.45px;
}

.italic-caption-text{
  color: #A9A9A9;
  font-family: "Playfair Display";
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  line-height: 100%; /* 30px */
}

.projects-header-text{
  color: #9BC8EA;
  font-family: Montserrat;
  font-size: 278px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 278px */
  text-transform: uppercase;
}

.project-name-text{
  color: #9BC8EA;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.283px;
  text-transform: uppercase;
}

.project-description-para{
  color: #F5F5F5;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 39.6px */
}

.footer-nav-links-text{
  color: #1C1C1C;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 28.6px */
}